{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Mrunmai Dahare| Programmer| mrunmai5115@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style type="text/css">
	body {
		margin: 200px;
		margin-top: 10px !important;
		background-color: bisque;
		font-family: 'Ubuntu', sans-serif;
	}
</style>
</head>
<body>
<div class="container bg-white pt-5" style="padding-bottom: 60px;">
	<div class="text-center">
	<h3>Mrunmai Dahare</h3>
	<h4>Passionate| Fast learner| Innovator</h4>
	<hr>
	</div>
	<div class="row">
		<div class="col-sm-4 text-right border-right">
			<h5>Basic Information</h5>
			<p><b>Contact:</b><br>
			Nagpur-14, Maharashtra
			<br>+91 820-831-9285<br>
			mrunmai5115@gmail.com</p>
			<br>
			<br>
			<p><b>Key Skills</b>
				<ul style="list-style-type: none; margin: 0; padding: 0;">
					<li>Quick Learner</li>
					<li>Good communication skills</li>
					<li>Good Analytical skills</li>
					<li>Good in statistical and mathematical analysis</li>
				</ul>
			</p>
		</div>
		<div class="col-sm-8">
			<h5>Objective</h5>
			<p>To work in development field by contributing my knowledge and skills
				in problem solving and object-oriented programing for the
				advancement and growth of company while making myself to learn
				more and get experienced in the system development IT field. 
			</p>
			<hr>
			<h5>Skills</h5>
			<p>
				<ul>
					<li>Sound understanding in Algorithm and Data structures</li>
					<li>Databases and object-oriented programming.</li>
					<li>A php web developer who have adequate knowledge of php as backend language.</li>
					<li>Languages known: C, C++, PYTHON, php, JavaScript</li>
					<li>Being a fast learner, I completed my C, C++, Data structures
					and algorithm course in 2 months of summer-2020.</li>
					<li>A web designer who successfully deployed 3+ working projects
					with happy and satisfied clients.</li>
					<li>Have adequate knowledge of DJango as web development</li>
					<li>Have ability to accomplish a given task in problem solving or
					object-oriented programming in given deadline.</li>
					<li>Enthusiastic and curious to work on projects that will simplify
					user interference and that will bring enhancement to company.</li>
				</ul>
			</p>
			<hr>
			<div class="ml-4">
			<h5>Education</h5>
			<div class="ml-2">
			<dl>
				<p><dt>Currently pursuing:</dt>
				<dd>Bachelor's of Technology<br>
				Madras Institute of Technology, Anna University<br>
				Production Engineering<br>
				Year - 2019-2023</dd>
				</p>
				<p><dt>Higher Secondary School:<br></dt>
					<dd>Shivaji Science College, Nagpur<br>
					Percentage: 85%<br>
					Specialization: Science, Electronics<br>
					Year Passed out: 2018</dd>
				</p>
				<p><dt>Secondary School:<br></dt>
					<dd>Somalwar High School, Nagpur<br>
					Percentage: 95%<br>
					Year Passed out: 2016</dd>
				</p>
			</dl>
			</div>
			</div>
			<hr>
			<div>
				<h5>Communication</h5>
				<p class="ml-4">Fluent in English, Hindi, Marathi<br>
				Good communication and presenting skills.</p>
			</div>
			<hr>
			<div>
				<h5>Projects</h5>
				<div class="ml-4">
				<dl>
					<dt>php Web App:</dt>
					<dd>Developed a social web application in PHP as prime language,
which is fully functional and user-friendly UI.
Here in this project named ‘tweet tweet quack quack’ in which you can
create your account by signing-up and choose the fields you are interested to
see, you can also upload your display picture whenever you want, you can
only visit homepage when you are logged in, if you are not logged in you
will come back to login page, you can post tweets, stories, quotes as well as
photos. In tweet section you can also add hashtags, and search any tweet by
their hashtags, you can see your other users and update your profile as well
profile this web app is completely user-friendly, and offers an interactive
interface to user.</dd>
					<dt>php Web Forum:</dt>
					<dd>Developed a social web application just like ‘QUORA’ clone
which is fully function and user friendly.
Here in this project named ‘SavyKnow’ I created a kind of knowledge hub
where users can create their own classroom by signing up and post their
questions, they can also answer other questions as well, the answer which
got most upvotes will be displayed at top and so on, one can also add
comments to other’s answers if they want, you can follow people you want,
you can see your followers as well as your followings, while others cannot
see that. You can also search a particular question you are looking for, and
you can update your bio as well, it is completely user friendly and
interactive.
</dd>
					<dt>JavaScript Game:</dt>
					<dd>Developed a car-rush GAME in vanilla JAVASCRIPT in 10
days.
This game is developed in pure vanilla JavaScript which uses arrow keys to
run the car on the platform, once you hit the enemy car the game will get
over and score will be displayed.</dd>
					<dt>Websites developed:</dt>
					<dd>Deployed two e-commerce standard WEBSITES for a fabric
company and a NGO website for old age home.
<ul>
<li><a href="https://www.lawanyaa.com/">www.lawanyaa.com</a></li>
<li><a href="https://nalandasanstha.in/">www.nalandasanstha.in</a></li></dd>
					<dt>Parenthesis Validator in C</dt>
					<dd>Developed a ‘MINI PARENTHESIS VALIDATOR’ using
DATA STRUCTURES with C, which checks parenthesis in a
input expression, if the input expression does not having valid
parenthesis it will warn the user.</dd>
					<dt>Text Analyser - JavaScript<dt>
					<dd>Developed a text Analyser Web App using Vanilla JavaScript that will take a paragraph as input and will tell us the time required by a normal person to read that paragraph alon with that it will also calculate the number of words and  alphabets in it.<br>
						Github Link of projrct: <a href="https://mrunmai29.github.io/Text-Analyzer-using-JavaScript/index.html">Click here</a></dd>
					<dt>Resume using Python</dt>
					<dd>Developed this resume using Python as prime language.
					This is made using DJango as webframework.</dd>
				</dl>
			</div>
			</div>
			<hr>
			<div class="mb-5">
				<h5>Personal Information:</h5>
				<p class="ml-2">Date of Birth: 29/08/2000</p>
			</div>
		</div>
	</div>
	<hr>
</div>
</body>
</html>

